.blog {
  height: 356px;
  background-image: url("../images/blog_top.jpg");
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: end;
}
.blog__info {
  padding: 41px 78px;
  background-color: #fff;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  max-width: 500px;
}
.blog__info_title {
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-weight: 400;
  color: #292f36;
  text-align: center;
}
.blog__info_text {
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #4d5053;
  text-align: center;
}

.latest {
  padding-top: 200px;
  padding-bottom: 150px;
}
.latest__title {
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-weight: 400;
  color: #292f36;
  margin-bottom: 27px;
}
.latest__article {
  max-height: 522px;
  padding: 22px;
  padding-right: 76px;
  border-radius: 62px;
  border: 1px solid rgb(231, 231, 231);
  display: flex;
  gap: 65px;
}
.latest__article_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.latest__article_desc-title {
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-weight: 400;
  color: #292f36;
  margin-bottom: 22px;
}
.latest__article_desc-text {
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #4d5053;
  margin-bottom: 40px;
}
.latest__article_desc-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.latest__article_desc-date p {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4d5053;
}
.latest__article_desc-date a {
  width: 52px;
  height: 52px;
  border-radius: 26px;
  background-color: #f4f0ec;
  display: flex;
  justify-content: center;
  align-items: center;
}

.articles__title {
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-weight: 400;
  color: #292f36;
  margin-bottom: 30px;
}
.articles__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}
.articles__content_item {
  padding: 21px;
  padding-bottom: 35px;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 62px;
}
.articles__content_item:nth-child(2) {
  background-color: #f4f0ec;
}
.articles__content_item:nth-child(2) a {
  background-color: #fff;
}
.articles__content_item-img {
  margin-bottom: 11px;
  position: relative;
}
.articles__content_item-img img {
  border-radius: 45px 45px 0 0;
}
.articles__content_item-label {
  position: absolute;
  display: block;
  padding: 8px 10px;
  font-size: 16px;
  font-weight: 400px;
  top: 220px;
  left: 30px;
  border-radius: 8px 8px 8px 0;
  color: #4d5053;
  background-color: #fff;
  font-family: "Jost", sans-serif;
}
.articles__content_item-title {
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-weight: 400;
  color: #292f36;
  max-width: 305px;
  height: 100px;
  margin-bottom: 30px;
}
.articles__content_item-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles__content_item-bot p {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4d5053;
}
.articles__content_item-bot a {
  width: 52px;
  height: 52px;
  border-radius: 26px;
  background-color: #f4f0ec;
  display: flex;
  justify-content: center;
  align-items: center;
}
.articles__pages {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 100px;
}
.articles__pages a {
  width: 52px;
  height: 52px;
  border-radius: 26px;
  border: 1px solid rgb(205, 162, 116);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #292f36;
}
.articles__pages a:nth-child(1) {
  background-color: #f4f0ec;
  border: none;
}

.img-block {
  background-image: url("../images/banner_blog.jpg");
  height: 350px;
}

.articles {
  padding-top: 200px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
}
.articles__contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}
.articles__item {
  margin-bottom: 100px;
}
.articles__item_title {
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-weight: 400;
  color: #292f36;
}
.articles__item_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  margin-top: 46px;
  margin-bottom: 46px;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4d5053;
}
.articles__item_text {
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #4d5053;
  margin-bottom: 35px;
}
.articles__item_quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 53px 227px;
  background-color: #f4f0ec;
  border-radius: 50px;
}
.articles__item_quote-text {
  font-family: "DM Serif Display", serif;
  font-size: italic;
  font-size: 25px;
  font-weight: 400;
  color: #cda274;
  text-align: center;
}
.articles__tags {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.articles__tags_title {
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-weight: 400;
  color: #292f36;
}
.articles__tags_btns {
  display: flex;
  gap: 10px;
  max-width: 335px;
  flex-wrap: wrap;
}
.articles__tags_btns-item {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #f4f0ec;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.active-tag {
  background-color: #292f36;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.btrr {
  border-top-right-radius: 100px;
}

.btlr {
  border-top-left-radius: 100px;
}

.bbrr {
  border-bottom-right-radius: 100px;
}

.bblr {
  border-bottom-left-radius: 100px;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header__logo_text {
  color: rgb(41, 47, 54);
  font-family: DM Serif Display;
  font-size: 40px;
  font-weight: 400;
}
.header__menu {
  display: flex;
  justify-content: end;
  gap: 50px;
  color: rgb(41, 47, 54);
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.header__menu_link {
  color: rgb(41, 47, 54);
}

.main {
  padding-bottom: 95px;
}
.main__content {
  background-image: url(../images/Banner_1.png);
  width: 1200px;
  height: 758px;
  background-repeat: no-repeat;
  background-size: 1200px;
  background-position: center;
  border-radius: 50px;
  padding: 200px 50px;
}
.main__title {
  font-family: "DM Serif Display", serif;
  font-size: 65px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0%;
  max-width: 484px;
  color: #292f36;
  margin-bottom: 18px;
}
.main__desc {
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  max-width: 434px;
  color: #4D5053;
  margin-bottom: 21px;
}
.main__button {
  padding: 26px 48px;
  border-radius: 15px;
  display: inline-block;
  background-color: #292f36;
  max-width: 221px;
  transition: all 0.4s;
}
.main__button:hover {
  background-color: #818181;
}
.main__button:active {
  background-color: #292f36;
}
.main__button_text {
  color: #FFFFFF;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  gap: 10px;
  align-items: center;
}

.project {
  padding-bottom: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project__top {
  padding-bottom: 95px;
}
.project__top_title {
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 2%;
  text-align: center;
  color: #292f36;
}
.project__top_text {
  font-family: "Jost", sans-serif;
  color: #292f36;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  max-width: 737px;
}
.project__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 50px;
}
.project__item {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.project__item_img img {
  width: 100%;
  height: 100%;
}
.project__item_desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project__item_desc-title {
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-weight: 400;
  color: #292f36;
}
.project__item_desc-subtitle {
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #292f36;
}
.project__item_desc-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #f4f0ec;
  padding: 26px 30px;
}

.counter {
  background-color: #f4f0ec;
  padding-top: 150px;
  padding-bottom: 150px;
}
.counter__content {
  justify-content: center;
  display: flex;
}
.counter__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding-left: 75px;
  padding-right: 75px;
  border-right: 1px solid rgb(205, 162, 116);
}
.counter__item:last-child {
  border: none;
}
.counter__item_number {
  font-family: "DM Serif Display", serif;
  font-size: 85px;
  font-weight: 400;
  color: #cda274;
}
.counter__item_text {
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #4D5053;
  text-align: center;
}

.blog {
  padding-top: 95px;
}
.blog__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog__desc_title {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  margin-top: 12px;
  color: #292f36;
  font-family: "DM Serif Display", serif;
}
.blog__desc_text {
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 50px;
  max-width: 801px;
}
.blog__articles {
  display: flex;
  gap: 27px;
}
.blog__articles_item {
  border: 1px solid rgb(231, 231, 231);
  border-radius: 62px;
  padding: 21px;
  max-width: 382px;
}
.blog__articles_item-img {
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}
.blog__articles_item-img img {
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  max-width: 100%;
}
.blog__articles_item-title {
  margin-top: 21px;
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-weight: 400;
  color: #292f36;
  max-width: 305px;
}
.blog__articles_item-date {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.blog__articles_item p {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4D5053;
}
.blog__articles_item a {
  width: 52px;
  height: 52px;
  border-radius: 26px;
  background-color: #f4f0ec;
  padding: 19px 24px;
}
.blog__articles_item:nth-child(2) {
  background-color: #f4f0ec;
}
.blog__articles_item:nth-child(2) a {
  background-color: #fff;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 95px;
  padding-bottom: 135px;
}
.footer__left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer__left p {
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #4D5053;
}
.footer__left_logo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer__left_logo-text {
  font-family: DM Serif Display;
  font-size: 40px;
  font-weight: 400;
  font-size: 40px;
}
.footer__left_social {
  display: flex;
  gap: 50px;
  align-items: center;
}
.footer__center {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 100px;
}
.footer__center h5 {
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-weight: 400;
  color: #292f36;
}
.footer__center a {
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #4D5053;
}
.footer__right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 100px;
}
.footer__right h5 {
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-weight: 400;
  color: #292f36;
}
.footer__right a, .footer__right p {
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #4D5053;
}/*# sourceMappingURL=style.css.map */